.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.cont h2 {
  width: 100%;
  text-align: center;
}
.cont div {
  text-align: center;
  width: fit-content;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
  margin: 2vh 1vw;
}
.cont div a {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin: 0.5vh 0;
  transition: all 1s;
}

.cont div:hover a {
  padding: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  .cont div:hover a {
    background-color: white;
    color: black;
  }
}
